<%= render(:partial => "/portfolios/portfolio/",
           :object  => @portfolio) %>

<table id="comment_table">
<%= render(:partial => "/comments/comment",
           :collection => @portfolio.comments) %>
</table>

<% if session[:user_id] %>
  <%= render(:partial => "/comments/add_comment/",
             :locals => {:id   => @portfolio.id,
                         :type => "Portfolio"}) %>
<% end %>

<br>
<br>
<h1>Projects:</h1>
  <%= render(:partial => "/projects/project/",
             :collection => @portfolio.projects) %>
<br>
