<div class="designers">
  <table>
    <th><%= sortable "score" %></th>
    <th></th>
    <th><%= sortable "name" %></th>
    <th>Opis</th>
    <th></th>

    <%= render(:partial => "/designer/designer/",
      :collection => @designers) %>  

  </table>

  <% if session[:user_id].nil? %>
    <% form_tag :action => 'new' do %>
      <%= submit_tag "Create new designer" %>
    <% end %>
  <% end %>

</div>
