#banner {
  background: grey ;
  padding-top: 5px;
  padding-bottom: 5px;
  font: small-caps 26px/26px "Times New Roman", serif;
  color: black ;
  text-align: center;
}

#notice {
  color: red;
  text-align: center;
}

.designer_picture {
  width: 75px;
  float: left;
}

.project_picture {
  width: 475px;
  float: center;
}

.project_picture:hover {
  width: 675px;
  float: center;
}

.designers table tr td {
  padding: 15px;
  vertical-align: top;
}

.form legend {
  font: small-caps 24px/24px "Times New Roman";
}

.form label {
  text-align: center;
  font: small-caps 15px/15px "Times New Roman";
  display: block;
}

.form .submit {
  margin-left: 4em;
}

.login div {
  margin: 0.5em 0;
}

.login label {
  text-align: left;
  font: small-caps 15px/15px "Times New Roman";
  display: block;
}

#main {
  margin-left: 13em;
  padding-top: 4ex;
  padding-left: 2em;
  background: white;
  text-align: center;
  margin-right: 15em;
}

#side {
  border: 3px solid;
  margin-top: 1em;
  float: left;
  padding-top: 1em;
  padding-left: 1em;
  padding-bottom: 1em;
  width: 12em;
  background: grey;
}
#portfolio {
  float: center;
}

.picture_comment {
  width: 60px;
}

#comment_table {
  margin-left: 110px;
}
.comment_table_text_tr {
  width: 615px;
  display: block;
}

#comment_table tr td {
  border: 1px solid black;
}

