#banner {
  background: grey ;
  padding-top: 5px;
  padding-bottom: 5px;
  font: small-caps 26px/26px "Times New Roman", serif;
  color: black ;
  text-align: center;
}

#notice {
  color: red;
  text-align: center;
}

.designer_picture {
  width: 75px;
  float: left;
}

.project_picture {
  width: 475px;
  float: center;
}

.project_picture:hover {
  width: 675px;
  float: center;
}

#designers tr td {
  padding: 15px;
  vertical-align: top;
}

#projects_table {
  margin: 1em;
}

#projects_table tr td {
  border: solid black;
}

.project_image {
  width: 15em;
  height: 10em;
}

.project_text {
  width: 22em;
}

.project_comments,
.project_rating {
  width: 5em;
}

.project_miniature {
  width: 12em;
  float: center;
}

.form legend {
  font: small-caps 24px/24px "Times New Roman";
}

.form label {
  text-align: center;
  font: small-caps 15px/15px "Times New Roman";
  display: block;
}

.form .submit {
  margin-left: 4em;
}

.login div {
  margin: 0.5em 0;
}

.login label {
  text-align: left;
  font: small-caps 15px/15px "Times New Roman";
  display: block;
}

#side,
#main,
#side_right {
 float: left;
  margin-top: 1em;
  padding: 1em;
  background: grey;
}

#side {
  border: 2px solid;
  width: 14%;
}

#main {
  margin-left: 1em;
  background: white;
  text-align: center;
  width: 58%
}

#side_right {
  float: right;
  border: 2px solid;
  width: 20%;
}

#news_1,
#news_2 {
  float: left;
}

#news_colection {
  margin-top: 3em;
  list-style-type: circle;
}

#news_colection li {
  margin-top: 0.5em;
}

.today {
  font: bold 20px/20px "Times New Roman";
  list-style-image: url(/images/new.gif);
}

#portfolio {
  float: center;
}

.picture_comment {
  width: 60px;
}

#comment_table {
  margin-left: 110px;
}
.comment_table_text_tr {
  width: 615px;
  display: block;
}

#comment_table tr td {
  border: 1px solid black;
}

#designers_table th .current {
  padding-right: 12px;
  background-repeat: no-repeat;
  background-position: right;
}

#designers_table th .asc {
  background-image: url(/images/up_arrow.gif);
}

#designers_table th .desc {
  background-image: url(/images/down_arrow.gif);
}

