<h3><%= project.text %></h3>

  <%= link_to (image_tag(project.image_url, :class => "project_picture")),
                              :controller => "project",
                              :action => "show",
                              :id => project.id %><br><br>
  <%= link_to "link to project page", project.link %><br><br>
  <p id="comments_count"><%= pluralize(project.comments.size, "comment")%></p>

<br>
