<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
              "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" >
<html>
<head>
  <title>Designers portfolio list</title>
  <%= stylesheet_link_tag "designers" %>
</head>
<body>
  <div id="banner">
    <h1 >Designers portfolio list</h1>
  </div>

  <p id="notice"><%= flash[:notice] %></p>

  <%= yield :layout %>
</body>
</html>
